// 定义变量 $
$nav-color: #F90;
nav {
  $width: 100px;
  width: $width;
  color: $nav_color;
}
// 嵌套
#content {
    article {
        h1 {
            color: #F90;
        }
        p {
            margin-bottom: 1.4em;
        }
    }
    aside {
        background-color: #FFF;
    }
}
// 伪类样式 &
article a{
    color: blue;
    &:hover {
        color: red;
    }
}
// 群组嵌套
.container {
    h1, h2, h3 {margin-bottom: .8em}
  }
  nav, aside {
    a {color: blue}
  }
// 其他子组合选择器和同层组合选择器
  article {
    ~ article { border-top: 1px dashed #ccc }
    > section { background: #eee }
    dl > {
      dt { color: #333 }
      dd { color: #555 }
    }
    nav + & { margin-top: 0 } // nav同层相邻的article
  }
// 声明统一个变量，后边的会覆盖前面的
$link-color: blue;
$link-color: red;
a {
color: $link-color;
}

/*注释*/

// @mixin @include
@mixin rounded-corners {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
  }
  notice {
    background-color: green;
    border: 2px solid #00aa00;
    @include rounded-corners;
  }

  // 混合器传递参数
  @mixin link-colors($normal, $hover, $visited) {
    color: $normal;
    &:hover { color: $hover; }
    &:visited { color: $visited; }
  }
  a {
      @include link-colors(
        $normal: blue,
        $visited: green,
        $hover: red,
    );
  }

  // 混合器指定默认的参数
  @mixin link-colors(
    $normal,
    $hover: $normal,
    $visited: $normal
  )
{
  color: $normal;
  &:hover { color: $hover; }
  &:visited { color: $visited; }
}
a {
    @include link-colors(
      $normal: blue,
  );
}

// 继承属性
//通过选择器继承继承样式
.error {
    border: 1px solid red;
    background-color: #fdd;
  }
  .seriousError {
    @extend .error;
    border-width: 4px;
  }
  /* 继承组合形式的 */
  .error a{  //应用到.seriousError a
    color: red;
    font-weight: 100;
  }
  h1.error { //应用到hl.seriousError
    font-size: 1.2rem;
  }
  .seriousError {
    @extend .error;
    border-width: 3px;
  }
  #main .sidebar input.error[type="text"] {
    color: green;
  }